# Local networks Zeek should consider internal for logging context.
10.0.10.0/24    ingress
10.0.11.0/24    auth
10.0.12.0/24    data
10.0.13.0/24    observability
10.0.14.0/24    media
10.0.15.0/24    productivity
10.0.16.0/24    smarthome
100.64.0.0/10   tailscale_cgnat
172.17.0.0/16   docker_default_bridge
